/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
}

* {
  box-sizing: border-box;
  color: var(--color-text);
  background-color: var(--color-primary);
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: var(--color-accent-variant);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  outline: 0;
  border: 0;
  box-shadow: 0 8px 30px rgba(255, 247, 247, 0.12);
}

button:hover {
  cursor: pointer;
}

table {
  table-layout: fixed;
  border-spacing: 2rem;
}

th,
td {
  padding: 0.5rem;
}

th {
  font-size: 20px;
}

/* Header */
.header {
  margin: 5rem;
  text-align: center;
  font-size: 2rem;
}

/* Introduction */
.introduction__section {
  margin: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}

.introduction__title {
  margin-bottom: 2rem;
}

.my-name {
  display: inline-block;
  width: 55px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background-color: var(--color-accent);
}

.introduction__list {
  margin-bottom: 1.5rem;
}

.introduction__description {
  font-weight: bold;
  font-size: 1.2rem;
}

/* 인생 영화 */
.my-movies__section {
  background-color: var(--color-primary-variant);
  padding: 2rem;
  text-align: center;
}

.my-movies__title {
  background-color: var(--color-primary-variant);
  font-size: 2.5rem;
  position: relative;
}

.my-movies__title::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.5rem;
  width: 300px;
  height: 2px;
  background-color: var(--color-accent);
}

.my-movies__table {
  margin: 2rem;
  border-radius: 20px;
}

.movie-poster__table {
  width: 10%;
}

.movie-rank {
  display: inline-block;
  background-color: var(--color-accent-variant);
  border: var(--color-accent-variant) 1px solid;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-text);
}

.movie-title {
  font-size: 20px;
  font-weight: bold;
}

.movie-poster {
  width: 10rem;
}

.movie-description {
  width: 55%;
  text-align: left;
}

.movie-url {
  font-size: 20px;
  font-weight: bold;
}

/* 방명록 */
.visitor-book__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
}

.visitor-book__title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.visitor-book__form {
  text-align: center;
  width: 200px;
  font-size: 1.2rem;
}

.visitor-book-name {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.friend-name {
  color: var(--color-primary);
  padding: 3px;
  background-color: var(--color-text);
  border: var(--color-accent) 1.5px solid;
  border-radius: 5px;
}

.friend-movies {
  text-align: left;
  margin-bottom: 1rem;
}

.movie__checkbox {
  margin: 0.5rem 0rem;
}

.movie__checkbox:hover {
  cursor: pointer;
}
