/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:hover {
  cursor: pointer;
}

table {
  table-layout: fixed;
  border-spacing: 2rem;
}

th,
td {
  padding: 0.5rem;
}

th {
  font-size: 20px;
}

/* Header */
.header {
  margin: 5rem;
  text-align: center;
  font-size: 2rem;
}

/* 인생 영화 */
.my-movies__section {
  padding: 2rem;
  text-align: center;
}

.my-movies__title {
  font-size: 2.5rem;
  position: relative;
}

.my-movies__title::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.5rem;
  width: 300px;
  height: 2px;
  background-color: var(--color-accent);
}

.my-movies__table {
  margin: 2rem;
}

.movie-poster__table {
  width: 10%;
}

.movie-rank {
  display: inline-block;
  background-color: var(--color-accent-variant);
  border: var(--color-accent-variant) 1px solid;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-text);
}

.movie-title {
  font-size: 20px;
  font-weight: bold;
}

.movie-poster {
  width: 10rem;
}

.movie-description {
  width: 55%;
  text-align: left;
}

.movie-url {
  font-size: 20px;
  font-weight: bold;
}

/* 방명록 */
.movie__checkbox:hover {
  cursor: pointer;
}
